/* container */
// $widthContainer: 1196px;
// $paddingContainer: 20px;

/* base typography */
// $baseFont: "Open Sans", sans-serif;
$baseWeight: 300;

/* colors */
$font: #000;
$linkColor: #000; /* base color for <a> */
$colorRed: #EE2742;
$colorDark:#565656;
$colorGray:#BBBBBB;
$colorBack:#F2F2F2;

$fontNun: 'Nunito', sans-serif;
$fontRal: 'Raleway', sans-serif