.footer {
    padding: 30px 0 20px;
    background-color: #000;
    color: #FFF;
    font-weight: 200;

    a {
        color: #FFF;
    }

    @media(max-width:1023px) {
        padding: 30px 0px 15px 0px;
    }

    @media(max-width:599px) {
        padding: 70px 0px 10px 0px;
    }

    &-logo {
        max-width: 200px;
        margin-bottom: 50px;

        img {
            display: block;
        }

        @media(max-width:1023px) {
            max-width: 128px;
        }

        @media(max-width:599px) {
            max-width: 200px;
            margin-bottom: 70px;
        }
    }

    &-line {
        display: flex;
        justify-content: space-between;
        font-size: rem(18);

        @media(max-width:1023px) {
            font-size: rem(12);
        }

        @media(max-width:599px) {
           flex-direction: column;
           font-size: rem(16);
        }
    }

    &-copy {
        padding-right: 40px;
        margin-bottom: 10px;

        @media(max-width:599px) {
            padding-right: 0;
        }
    }

    &-links {
        li {
            display: inline-block;
            margin-bottom: 10px;

            &:not(:last-child) {
                &:after {
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: .75em;
                    background-color: #fff;
                    margin-right: 9px;
                    margin-left: 11px;
                }
            }
            
        }
    }
}